:root {
    --main-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    font-family: var(--main-font);
    
}

/*********** header ***********/

.header, .container-fluid, .bgnav {
    background-color: #fff !important;
}

.navbar a {
    font-family: var(--main-font);
    font-weight: bold; 
} 

.navbar a:hover{
    text-decoration: underline;
}

.menu-icon__line {
    display: block;
    width: 30px; /* Lunghezza delle linee */
    height: 3px; /* Spessore delle linee */
    background-color: #9e121b; /* Colore delle linee */
    margin: 6px auto; /* Spazio tra le linee */
}

.menu-icon__line-left {
    width: 15px;
    transform: translate(-8px, 3px); /* Ruota e trasla la linea a sinistra */
}

.menu-icon__line-right {
    width: 15px;
    transform: translate(7px, -3px); /* Ruota e trasla la linea a destra */
}

.navbar input {
    width: 16em;
    height: 2.8em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar button {
    border-style: solid;
    border-color: #9e121b;
    color: #9e121b;
    width: 4em;
    height: 2.8em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.separation {
    height: 2px;
    background: linear-gradient(to left, #9e121b, #ffeb3b);
    border: none;
    margin: 20px 0;
}


/********** footer *************/
footer a{
    color: #fff;
    text-decoration: none;
    font-family: var(--main-font);
}

footer a:hover {
    color: #9e121b;
}

.container .social a{
    margin-right: 30px;
}

.container .social a:hover{
    color: #9e121b;
}

/* body in accueil */

.cardAccueil {
    border: 1px solid transparent;
    transition: all 0.5s ease;
    max-height: 300px;
    overflow: hidden;
}

.cardAccueil:hover {
    border: 1px solid #9e121b;
}

.cardAccueil img {
    max-height: 250px;
    width: auto;
    background: #fff;
    border-color: #f3f3f3;
}

/* body security/login.html.twig */

h1 {
    color: #9e121b;   
} 

.btn {
    color: #9e121b; 
    border-color: #9e121b;
    transition: all 0.5s ease;
}

.btn:hover {
    color: #9e121b; 
    box-shadow: 0px 4px 10px #9e121b;
}

/*  body inwines */

.inwines {
    border: 1px solid transparent;
    transition: all 0.5s ease;
}

.inwines:hover {
    border: 1px solid #9e121b;
}

.btnInwines {
    color: #9e121b; 
    border-color: #9e121b;
    transition: all 0.5s ease;
}

.btnInwines:hover {
    color: #9e121b; 
    box-shadow: 0px 4px 10px #9e121b;
}

.selectInwines {
    border: 1px solid transparent;
    transition: all 0.5s ease;
}
.selectInwines:hover {
    border: 1px solid #9e121b;
}

/*  body inboxes */

.inboxes {
    border: 1px solid transparent;
    transition: all 0.5s ease;
}
.inboxes:hover {
    border: 1px solid #9e121b;
}

.btnInboxes {
    color: #9e121b; 
    border-color: #9e121b;
    transition: all 0.5s ease;
}

.btnInboxes:hover {
    color: #9e121b; 
    box-shadow: 0px 4px 10px #9e121b;
}

/* body in history */
.custom-divider {
    height: 2px;
    background: linear-gradient(to right, #9e121b, #ffeb3b);
    border: none;
    margin: 20px 0;
}

